<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"> 

    <gazebo>
        <plugin
            name="ignition::gazebo::systems::DiffDrive"
            filename="libignition-gazebo6-diff-drive-system.so">

            <!-- Wheel joints -->
            <left_joint>left_wheel_joint</left_joint>
            <right_joint>right_wheel_joint</right_joint>

            <!-- Geometry -->
            <wheel_separation>0.35</wheel_separation>
            <wheel_radius>0.05</wheel_radius>

            <!-- ROS topic and frames -->
            <topic>cmd_vel</topic>
            <odom_frame>odom</odom_frame>
            <robot_base_frame>base_link</robot_base_frame>

            <!-- Optional -->
            <max_linear_acceleration>1.0</max_linear_acceleration>
            <max_angular_acceleration>2.0</max_angular_acceleration>
        </plugin>
    </gazebo>
</robot>